<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4"></div>

            <div class="col col-12 col-sm-4">
                <form method="POST"action="/getdata">
                    
        <table>
            <tr>
                <td>NAME</td>
                <td><input type="text" name="getname"></td>
            </tr>
            <tr>
                <td>ADDRESS</td>
                <td><input type="text" name="getaddress"></td>
            </tr>
            <tr>
                <td>PLACE</td>
                <td><input type="text" name="getplace"></td>
            </tr>
            <tr>
                <td>MOBILE</td>
                <td><input type="number" name="getmob"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="getemail"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary">submit</button></td>
                
            </tr>
        </table>
    </form>
            </div>

            <div class="col col-12 col-sm-4"></div>
        </div>
    </div>
    
    
</body>
</html>