<div class="container">
    <div class="jumbotron">
        <h2>ICT ACADEMY</h2>
    </div>
    <h3>hello {{name}}</h3>
        <div class="row">
            <div class="col col-12 col-sm-4">
       <p>
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est eaque rerum aspernatur deleniti quasi officiis dolores autem omnis incidunt placeat ipsa pariatur possimus assumenda dicta nulla, dolore sint magni tempora.
       </p>
       
            </div>
            <div class="col col-12 col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsam dicta nam autem similique sunt vitae exercitationem veritatis ipsum omnis possimus, sed quisquam eum voluptates? Qui et illum est! Quas.

                </p>
            </div>
        </div>
    </div>
    